<!DOCTYPE html>
<html>
  <head>
    <title>(ﾉ◕ヮ◕)ﾉ:･ﾟ✧:･ﾟ✧ form</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://js.verygoodvault.com/vgs-collect/2.3.0/vgs-collect.js"></script>
  </head>
  <body>
    <p>enter payment info.</p>
    <form>
      <h1>(ﾉ◕ヮ◕)ﾉ:･ﾟ✧:･ﾟ✧ Secure Yo' Data!</h1>
      <div id="cc-number" class="form-field"></div>
      <div class="form-field-group">
        <div id="cc-expiration-date" class="form-field"></div>
        <div id="cc-cvv" class="form-field"></div>
      </div>
      <button type="submit">secure</button>
    </form>
    <script src="../static/form.js"></script>
  </body>
</html>