<!DOCTYPE html>
<html>
  <head>
    <title>(ﾉ◕ヮ◕)ﾉ:･ﾟ✧:･ﾟ✧ index</title>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <div class="main">
      <h1>(ﾉ◕ヮ◕)ﾉ:･ﾟ✧:･ﾟ✧ Ali's TSE Test!</h1>
      <div>
        <p>
          <ol>
            <li>Start here for payment form: <a href="/form">payment form</a></li>
            <li>Enter payment info</li>
            <li>Get aliased info from flask server</li>
            <li>Input aliased info into reveal form</li>
            <li>Should return original payment form info</li>
          </ol>
      </p>
      </div>
    </div>
  </body>
</html>