<!DOCTYPE html>
<html>
  <head>
    <title>(ﾉ◕ヮ◕)ﾉ:･ﾟ✧:･ﾟ✧ reveal</title>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <p>start over: <a href="/">home</a></p>
    <div class="main">
      <h1>(ﾉ◕ヮ◕)ﾉ:･ﾟ✧:･ﾟ✧ Here's Yo' Data!</h1>
      <div id="cc-number" class="form-field">
        <p>{{ num }}</p>
      </div>
      <div class="form-field-group">
        <div id="cc-expiration-date" class="form-field">
          <p>{{ exp }}</p>
        </div>
        <div id="cc-cvv" class="form-field">
          <p>{{ cvv }}</p>
        </div>
      </div>
    </div>
  </body>
</html>